@model WeekScheduler.ViewModels.IndexSlotViewModel

@{
    ViewData["Title"] = "Slot Index";
}

<h2>Slot Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Slots" asp-action="Index" method="get">
    <p>
        <input type="hidden" asp-for="@Model.SortLayout" />
        <input type="text" value="@Model.FilterString" name="filterString" placeholder="Search">
        <input type="submit" value="Filter" />
        @if (Model.SortLayout != null && Model.SortLayout != "" || Model.FilterString != null && Model.FilterString != "")
        {@Html.ActionLink("Reset Search", "Index");
    }
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            @{
                var sortLayoutProjectID = "ProjectID_asc";
                var sortLayoutWeekID = "WeekID_asc";
                var sortLayoutActivityID = "ActivityID_asc";
                var sortLayoutEmployeeID = "EmployeeID_asc";
                var sortLayoutNotes = "Notes_asc";

                if (Model.SortLayout != null)
                {
                    if (Model.SortLayout.Equals("ProjectID_asc")) { sortLayoutProjectID = "ProjectID_desc"; }
                    else if (Model.SortLayout.Equals("WeekID_asc")) { sortLayoutWeekID = "WeekID_desc"; }
                    else if (Model.SortLayout.Equals("ActivityID_asc")) { sortLayoutActivityID = "ActivityID_desc"; }
                    else if (Model.SortLayout.Equals("EmployeeID_asc")) { sortLayoutEmployeeID = "EmployeeID_desc"; }
                    else if (Model.SortLayout.Equals("Notes_asc")) { sortLayoutNotes = "Notes_desc"; }
                }
            }
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SlotModels[0].ProjectID), "Index", new { sortLayout = sortLayoutProjectID, filterString = Model.FilterString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SlotModels[0].WeekID), "Index", new { sortLayout = sortLayoutWeekID, filterString = Model.FilterString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SlotModels[0].ActivityID), "Index", new { sortLayout = sortLayoutActivityID, filterString = Model.FilterString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SlotModels[0].EmployeeID), "Index", new { sortLayout = sortLayoutEmployeeID, filterString = Model.FilterString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.SlotModels[0].Notes), "Index", new { sortLayout = sortLayoutNotes, filterString = Model.FilterString })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SlotModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ProjectID = item.ProjectID, WeekID = item.WeekID, ActivityID = item.ActivityID, EmployeeID = item.EmployeeID }) |
                    @Html.ActionLink("Details", "Details", new { ProjectID = item.ProjectID, WeekID = item.WeekID, ActivityID = item.ActivityID, EmployeeID = item.EmployeeID }) |
                    @Html.ActionLink("Delete", "Delete", new { ProjectID = item.ProjectID, WeekID = item.WeekID, ActivityID = item.ActivityID, EmployeeID = item.EmployeeID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href='javascript:history.go(-1)'>Return</a>
</div>