@model WeekScheduler.Models.ActivityRecordModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { EmployeeID = Model.EmployeeID, ActivityID = Model.ActivityID })
</div>

<div>
    <a href='javascript:history.go(-1)'>Return</a>
</div>
<div>
    <a asp-action="Index">Back to list of activity records</a>
</div>
